@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fontin Sans Regular";
  src: url("/fonts/FontinSans_49/Fontin_Sans_R_45b.otf");
}
@font-face {
  font-family: "Fontin Sans Bold";
  src: url("/fonts/FontinSans_49/Fontin_Sans_B_45b.otf");
}
@font-face {
  font-family: "Cooper Hewitt Book";
  src: url("/fonts/cooper-hewitt/CooperHewitt-Book.otf");
}
a {
  @apply transition-all duration-300 ease-in-out;
}
button {
  @apply inline-block font-fontinBold uppercase bg-samBlue text-samGreyDark text-center py-3 px-8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply uppercase font-fontin mb-3;
}
h1 {
  @apply text-3xl font-fontinBold;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
p {
  @apply mb-4 leading-loose;
}
.sidebar a:hover {
  @apply text-samDarkRed;
}
.sidebar h2 {
  @apply text-samDarkRed font-fontinBold;
}
.sidebar hr {
  @apply my-8;
}
.sidebar li {
  @apply mb-4;
}
.sidebar p {
  @apply leading-snug;
}

.title {
  @apply text-3xl;
}
