@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fontin Sans Regular";
  src: url("/fonts/FontinSans_49/Fontin_Sans_R_45b.otf");
}
@font-face {
  font-family: "Fontin Sans Bold";
  src: url("/fonts/FontinSans_49/Fontin_Sans_B_45b.otf");
}
@font-face {
  font-family: "Cooper Hewitt Book";
  src: url("/fonts/cooper-hewitt/CooperHewitt-Book.otf");
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
